body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:  Verdana,Arial, Helvetica,"‚l‚r ‚oƒSƒVƒbƒN", Osaka;
	text-align:center;
}

h1{
	display:block;
	font-size:18px;
	font-weight:bold;

}

div#contents{
	margin:0;
	margin-left:30px;
	margin-right:30px;
	padding:0;
	text-align:left;
}
/* mainMenu */
div#mainMenu{
	margin:20px;
	padding:0;
	text-align:center;
	
}
div#mainMenu ul{
	margin:0;
	padding:0;
}
div#mainMenu li{
	margin:0;
	padding:0;
	display:inline;
}
div#mainMenu li a{
	margin:0;
	padding:4px;
	text-decoration: none;
	background-color:#F9F8F7;
	
}
div#mainMenu li a:link {
	
}
div#mainMenu li a:visited {
	
}
div#mainMenu li a:hover {
	background-color:#CCFF00;
}
div#mainMenu li a:active {
	
}

/* page */
div#page{
	margin:5px;
	padding:0;
}
div#copyright{
	margin:5px;
	padding:0;
	text-align:center;
}