---
layout:
title:
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index,follow">
<META NAME="Description" CONTENT="東方美人〜世田谷奥沢の生薬を使用した美髪サロン。Hennaもおすすめ！">
<META NAME="Keywords" CONTENT="生薬,Henna,ヘナ,毛質,髪質改善,くせ毛,パーマのかかりすぎ,髪の傷み,髪が元気がない,世田谷区,世田谷区奥沢,髪にやさしい,マッサージ,中国,東方美人,ヘアサロン,髪に優しいカラー,理容,美容,マッサージ,癒し,TOUHOUBIJIN,ORIENTAL　BEAUTY,ASIA,JAPAN">
<title>東方美人-東方美人店主の経歴</title>
	
	<link href="../css/main_contents.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript" type="text/JavaScript">
<!--
<!--

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
    <style type="text/css">
<!--
.style2 {color: #FFFFFF}
-->
    </style>
</head>

<body onload="MM_preloadImages('images/btn_2_1.gif','images/btn_3_1.gif','images/btn_4_1.gif','images/btn_1_1.gif','../images/btn01_1.gif','../images/btn04_1.gif','../images/btn05_1.gif','../images/btn06_1.gif','../images/btn07_1.gif','../images/btn03_1.gif','../images/btn02_1.gif')">
<div id="mainFlame">
  <a name="toppage" id="toppage"></a><!-- #BeginLibraryItem "/Library/web_special.lbi" -->
<script language="JavaScript" type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<body onLoad="MM_preloadImages('../images/btn03_1.gif','../images/btn04_1.gif','../images/btn05_1.gif','../images/btn06_1.gif','../images/btn07_1.gif','../images/btn02_1.gif')"><table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="164"><a href="../index.html" target="_self"><img src="../images/logo.jpg" width="164" height="130" border="0" /></a></td>
    <td width="586"><img src="../images/05.jpg" width="586" height="130" /></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../images/btn01_1.gif" height="25" /></td>
    <td><a href="../salon_menus/index.html" target="_self" onmouseover="MM_swapImage('Image10','','../images/btn02_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="../images/btn02.gif" name="Image10" height="25" border="0" id="Image10" /></a></td>
    <td><a href="../progress/index.html" target="_self" onmouseover="MM_swapImage('Image19','','../images/btn03_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="../images/btn03.gif" name="Image19" height="25" border="0" id="Image19" /></a></td>
    <td><a href="../hennna/index.html" target="_self" onmouseover="MM_swapImage('Image18','','../images/btn04_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="../images/btn04.gif" name="Image18" height="25" border="0" id="Image18" /></a></td>
    <td><a href="../qanda_and_other/index.html" target="_self" onmouseover="MM_swapImage('Image17','','../images/btn05_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="../images/btn05.gif" name="Image17" height="25" border="0" id="Image17" /></a></td>
    <td><a href="../speciarite/index.html" target="_self" onmouseover="MM_swapImage('Image16','','../images/btn06_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="../images/btn06.gif" name="Image16" height="25" border="0" id="Image16" /></a></td>
    <td><a href="../info/index.html" target="_self" onmouseover="MM_swapImage('Image15','','../images/btn07_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="../images/btn07.gif" name="Image15" height="25" border="0" id="Image15" /></a></td>
  </tr>
</table>
<!-- #EndLibraryItem --><table width="526" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td></td>
    </tr>
  </table>
  <!-- メニュー -->
<div id="sideMenu">
<table cellpadding="0" cellspacing="0">
  <tr>
    <th valign="top"><img src="../images/left_menu_top.gif" width="162" height="61" /></th>
  </tr>
  <tr>
    <td height="30"><a href="index.html" target="_self" onmouseover="MM_swapImage('Image8','','images/btn_1_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="images/btn_1.gif" name="Image8" width="150" height="25" border="0" id="Image8" /></a></td>
  </tr>
  <tr>
    <td height="30"><a href="salon.html" target="_self" onmouseover="MM_swapImage('Image9','','images/btn_4_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="images/btn_4.gif" name="Image9" width="150" height="25" border="0" id="Image9" /></a></td>
  </tr>
  <tr>
    <td height="30"><a href="fortensyu.html" target="_self" onmouseover="MM_swapImage('Image12','','images/btn_2_1.gif',1)" onmouseout="MM_swapImgRestore()"><img src="images/btn_2.gif" name="Image12" width="150" height="25" border="0" id="Image12" /></a></td>
  </tr>
  <tr>
    <td height="30"><img src="images/btn_3_1.gif" width="150" height="25" /></td>
  </tr>
  <tr>
    <th><div align="center"><img src="../images/left_menu_under.gif" width="163" height="61" /><br />
          <img src="../images/left_menu_under_kwa.gif" width="77" height="82" /></div></th>
  </tr>
</table>
</div>
<!-- コンテンツ -->
<div id="mainContents">

  <img src="images/main_title_02.jpg" width="585" height="90" /><img src="images/main_title_02-1.gif" width="585" height="60" />
  <table width="570" height="266" border="0" cellpadding="0" cellspacing="0">
  <tr>    <td width="25"><img src="../images/crear.gif" width="25" height="10" /></td>
    <td width="545" valign="top">
<p>1953年9月6日生まれ　東洋大学経営学部卒業、ハリウッド美容専門学校同時卒業。<br />
  Beautyタナカ新宿、ハワイ店を経、美容室経営企業にて都内を中心に美容室経営後独立。</p>
  <p>中国視察中、生薬を用いた中国の4000年の奥深さに感動、帰国後、2004年8月8日東京都世田谷区奥沢に東洋思想に基づいた美髪サロン「東方美人」を開業、現在に至ります。</p>
</td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
       <td> {% include top_and_common.html %}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<!-- コンテンツ END -->
</div>
{% include copyright.html %}

</div>

{% include ga.html %}

</body>
</html>