/*
Error: File to import not found or unreadable: base.
       Load paths:
         /Users/takeo/Dropbox/develop/touhoubijin.github.io/source/stylesheets
         /Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets
         Compass::SpriteImporter
        on line 43 of /Users/takeo/Dropbox/develop/touhoubijin.github.io/source/css/main1.scss

38: 
39: 
40: 
41: // Import partials from `sass_dir` (defaults to `_sass`)
42: @import
43:         "base",
44:         "layout",
45:         "syntax-highlighting"
46: ;

Backtrace:
/Users/takeo/Dropbox/develop/touhoubijin.github.io/source/css/main1.scss:43
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:45:in `import'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/engine.rb:268:in `render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/renderers/sass.rb:87:in `evaluate'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/rendering.rb:303:in `render_individual_file'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/rendering.rb:181:in `_render_with_all_renderers'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/rendering.rb:149:in `render_template'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/sitemap/resource.rb:127:in `block in render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/activesupport-4.1.8/lib/active_support/notifications.rb:161:in `instrument'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/util.rb:41:in `instrument'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/application.rb:219:in `instrument'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/sitemap/resource.rb:100:in `render'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:253:in `process_request'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:203:in `block in call!'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:202:in `catch'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:202:in `call!'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:188:in `call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:65:in `block in call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `each'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:255:in `render_to_file'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:221:in `build_resource'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:188:in `each'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:188:in `execute!'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:128:in `invoke!'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/actions.rb:94:in `action'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:70:in `build'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli.rb:72:in `method_missing'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:29:in `run'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:126:in `run'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli.rb:20:in `start'
/Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/bin/middleman:18:in `<top (required)>'
/Users/takeo/.rbenv/versions/2.1.2/bin/middleman:23:in `load'
/Users/takeo/.rbenv/versions/2.1.2/bin/middleman:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: base.\A        Load paths:\A          /Users/takeo/Dropbox/develop/touhoubijin.github.io/source/stylesheets\A          /Users/takeo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets\A          Compass::SpriteImporter\A         on line 43 of /Users/takeo/Dropbox/develop/touhoubijin.github.io/source/css/main1.scss\A \A 38: \A 39: \A 40: \A 41: // Import partials from `sass_dir` (defaults to `_sass`)\A 42: @import\A 43:         \"base\",\A 44:         \"layout\",\A 45:         \"syntax-highlighting\"\A 46: ;"; }
