---
layout: touhoubijin
title: 東方美人-東方美人お客様の声
---

<style type="text/css">
    <!--
    .style2 {
        color: #FFFFFF
    }

    .style3 {
        color: #EBA7A7
    }

    -->
</style>

<script>
    $(function () {
        // 実行する処理

        $(window).load(function () {
            MM_preloadImages('/images/btn04_1.gif', '/images/btn05_1.gif', '/images/btn06_1.gif', '/images/btn07_1.gif', '/images/btn01_1.gif', '/images/btn02_1.gif', '/progress/images/btn_2_1.gif', '/progress/images/btn_0_1.gif');
        });

    });
</script>


<%= partial "pregress_menu" %>


<!-- メニュー -->
<div id="sideMenu">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th valign="top"><img src="../images/left_menu_top.gif" width="162" height="61"/></th>
        </tr>
        <tr>
            <td height="30"><a href="index.html" onmouseout="MM_swapImgRestore()"
                               onmouseover="MM_swapImage('Image42','','images/btn_0_1.gif',1)"><img
                    src="images/btn_0_0.gif" name="Image42" width="150" height="25" border="0" id="Image42"/></a></td>
        </tr>
        <tr>
            <td height="30"><a href="index_10.html" target="_self"
                               onmouseover="MM_swapImage('Image19','','images/btn_2_1.gif',1)"
                               onmouseout="MM_swapImgRestore()"><img src="images/btn_2.gif" name="Image19" width="150"
                                                                     height="25" border="0" id="Image19"/></a></td>
        </tr>
        <tr>
            <td height="30"><img src="images/btn_3_1.gif" width="150" height="25"/></td>
        </tr>
        <tr>
            <td height="30">&nbsp;</td>
        </tr>
        <tr>
            <th>
                <div align="center"><img src="../images/left_menu_under.gif" width="163" height="61"/><br/>
                    <img src="../images/left_menu_under_kwa.gif" width="77" height="82"/></div>
            </th>
        </tr>
    </table>
</div>
<!-- コンテンツ -->
<div id="mainContents">

    <img src="images/main_title_03.jpg" width="585" height="90"/>
    <table width="570" height="266" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="25"><img src="../images/crear.gif" width="25" height="10"/></td>
            <td width="545" valign="top">
                <p>東方美人では、お客様にご意見をいただいております。<br/>
                    多数の嬉しいお声をありがとうございます。<br/>

                </p>

                <p></p><img src="../images/line_2.gif" width="545" height="8"/>
                <table width="539" border="0" cellpadding="0" cellspacing="0" bordercolor="#E9CEAB" bgcolor="#FFFFFF">
                    <tr bgcolor="#FFF4E7">
                        <td width="10" height="195" valign="top" bgcolor="#FFFFFF"><p><br/>
                        </p></td>
                        <td width="519" valign="middle" bgcolor="#FFFFFF"><p>現在、こちらでご覧いただけます。<br/>
                            　
                            　　　　↓
                            <br/>
                            <a href="http://wom-beauty.com/hair+index.page+article+storyid+682.htm#map" target="_blank"
                               class="boder style3">体験談と施術写真満載の美容サロン検索サイト 美容サロン･口コミ人気ランキング</a><br/>
                        </p></td>
                        <td width="10" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
                    </tr>
                    <tr bgcolor="#FFF4E7">
                        <td colspan="3" valign="top" bgcolor="#FFFFFF"><img src="../images/crear.gif" width="10"
                                                                            height="10"/></td>
                    </tr>
                </table>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/></td>
        </tr>
    </table>
    <table width="570" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>

                <%= partial "top_and_common" %>

            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <!-- コンテンツ END -->
</div>
