---
layout: touhoubijin
title: 東方美人-東方美人髪のお悩みＢＥＳＴ10
description: 東方美人〜世田谷奥沢の生薬を使用した美髪サロン。Hennaもおすすめ！
keywords: 生薬,Henna,ヘナ,毛質,髪質改善,くせ毛,パーマのかかりすぎ,髪の傷み,髪が元気がない,世田谷区,世田谷区奥沢,髪にやさしい,マッサージ,中国,東方美人,ヘアサロン,髪に優しいカラー,理容,美容,マッサージ,癒し,TOUHOUBIJIN,ORIENTAL　BEAUTY,ASIA,JAPAN
---

<style type="text/css">
    <!--
    .style2 {
        color: #FFFFFF
    }

    -->
</style>
<script>
    $(function () {
        // 実行する処理

        $(window).load(function () {
            MM_preloadImages('/images/btn04_1.gif', '/images/btn05_1.gif', '/images/btn06_1.gif', '/images/btn07_1.gif', '/images/btn01_1.gif', '/images/btn02_1.gif', '/progress/images/btn_3_1.gif', '/progress/images/btn_0_1.gif');
        });

    });
</script>


{% include pregress_menu.html %}

<table width="526" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td></td>
    </tr>
</table>
<!-- メニュー -->
<div id="sideMenu">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th valign="top"><img src="../images/left_menu_top.gif" width="162" height="61"/></th>
        </tr>
        <tr>
            <td height="30"><a href="index.html" onmouseout="MM_swapImgRestore()"
                               onmouseover="MM_swapImage('Image42','','images/btn_0_1.gif',1)"><img
                    src="images/btn_0_0.gif" name="Image42" width="150" height="25" border="0" id="Image42"/></a></td>
        </tr>
        <tr>
            <td height="30"><img src="images/btn_2_1.gif" width="150" height="25"/></td>
        </tr>
        <tr>
            <td height="30"><a href="voice_10.html" target="_self"
                               onmouseover="MM_swapImage('Image20','','images/btn_3_1.gif',1)"
                               onmouseout="MM_swapImgRestore()"><img src="images/btn_3.gif" name="Image20" width="150"
                                                                     height="25" border="0" id="Image20"/></a></td>
        </tr>
        <tr>
            <td height="30">&nbsp;</td>
        </tr>
        <tr>
            <th>
                <div align="center"><img src="../images/left_menu_under.gif" width="163" height="61"/><br/>
                    <img src="../images/left_menu_under_kwa.gif" width="77" height="82"/></div>
            </th>
        </tr>
    </table>
</div>
<!-- コンテンツ -->
<div id="mainContents">

    <img src="images/main_title_02.jpg" width="585" height="90"/>
    <table width="570" height="266" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="25"><img src="../images/crear.gif" width="25" height="10"/></td>
            <td width="545" valign="top">
                <p>東方美人では、このような意見をいただいております。<br/>
                    東方美人ではお客様の髪をはじめて来店していただいた時の状態をチェックし、カウンセリングを行います。</p>
                <img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/1.gif" width="25" height="25"/></td>
                        <td valign="top"><p>パサつきがある</p></td>
                    </tr>
                </table>
                <p></p>

                <img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/2.gif" width="25" height="25"/></td>
                        <td valign="top"><p>つやがない</p></td>
                    </tr>
                </table>
                <p></p><img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/3.gif" width="25" height="25"/></td>
                        <td valign="top"><p>枝毛がひどい</p></td>
                    </tr>
                </table>
                <p></p><img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/4.gif" width="25" height="25"/></td>
                        <td valign="top"><p>抜け毛が多い</p></td>
                    </tr>
                </table>
                <p></p><img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/5.gif" width="25" height="25"/></td>
                        <td valign="top"><p>カラー、パーマによるダメージがひどい</p></td>
                    </tr>
                </table>
                <p></p><img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/6.gif" width="25" height="25"/></td>
                        <td valign="top"><p>ヘアスタイルが整わない</p></td>
                    </tr>
                </table>
                <p></p>
                <img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/7.gif" width="25" height="25"/></td>
                        <td valign="top"><p>くせ毛がひどい</p></td>
                    </tr>
                </table>
                <p></p>
                <img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/8.gif" width="25" height="25"/></td>
                        <td valign="top"><p>髪がかたい</p></td>
                    </tr>
                </table>
                <p></p>
                <img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/9.gif" width="25" height="25"/></td>
                        <td valign="top"><p>地毛の色が重過ぎる</p></td>
                    </tr>
                </table>
                <p></p>
                <img src="../images/line_2.gif" width="545" height="8"/>
                <table width="554" border="0" cellpadding="0" cellspacing="0">
                    <tr bgcolor="#FFF4E7">
                        <td width="26" valign="top"><img src="images/10.gif" width="25" height="25"/></td>
                        <td valign="top"><p>髪が細い</p></td>
                    </tr>
                </table>
                <p></p>
                <img src="../images/line_2.gif" width="545" height="8"/></td>
        </tr>
    </table>
    <table width="570" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>

                {% include top_and_common.html %}

            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <!-- コンテンツ END -->
</div>
